
.login-modal {
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.login-modal li {
  border:none;
  padding: 0px;
}

.login-modal li:first-child {
  padding-right: 5px;
}

.login-modal input[type=text], 
input[type=password], input[type=tel], #signup input[type=email] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 2px;
box-sizing: border-box;
letter-spacing: .2px;
}

/* Style the submit button */
.login-modal input[type=submit] {

width: 100%;
background: linear-gradient(to right, #3493ff, hsl(197, 100%, 50%) 100%);
font-family: 'Source Sans Pro', sans-serif;
color: white;
padding: 12px 20px;
margin: 20px 0;
border: none;
border-radius: 2px;
cursor: pointer;
font-size: 1.4rem;
font-weight:500;
letter-spacing: .2px;
}

.login-modal .nav-pills a:hover {
  color:white;
  border-radius: 2px;
  background: linear-gradient(to right, #3493ff, hsl(197, 100%, 50%) 100%);
  font-weight: 600;
  letter-spacing: .2px;
}

.modal-backdrop {
  background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: linear-gradient(to right, #3493ff, hsl(197, 100%, 50%) 100%);
  letter-spacing: .2px;
  font-weight: 500 !important;
  border-radius: 2px;
}

.modal-content {
  border-radius: 2px;
}

.login-logo {
  height:120px;
}