.card-header-one {
  font-size: calc( 1.13em + .5vw );
  letter-spacing: .2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #08306A;
  color: white;
}

.card-header-two {
  font-size: calc( 1.13em + .5vw );
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #cf4238;
  color: white;
}